{% block header_nav %}
    <nav class="level" id="header-nav">
        <div class="level-item">
            <a href="#" class="nav-item">Sobre</a>
        </div>
        <div class="level-item">
            <a href="#" class="nav-item">Experiência</a>
        </div>
        <div class="level-item">
            <a href="#" class="nav-item">Stack</a>
        </div>
        <div class="level-item">
            <a href="#" class="nav-item">Contato</a>
        </div>
    </nav>
{% endblock %}